---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="serious-note-taking" src="/jhay-about.png" />
    </div>
    <h2>About Me!</h2>
    <p>I have worked as a UI Programmer in the gaming industry for 5 years: 3 years at Ubisoft on <a class="badge__link" href="/projects/project-1/">Roller Champions</a> and 2 years at Inflexion Games on <a class="badge__link" href="/projects/project-2/">Nightingale.</a></p>
    <p>I have a strong passion for UI design and front-end development and hope to pursue a career that blends both design and programming worlds together!</p>
    <div class="center center-button">
        <a href="/portfolio/">
            <button class="btn">See Portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="UnrealEngine" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unrealengine/unrealengine-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C++" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Unity" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/unity/unity-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
    </div>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"/>
    </div>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Jira" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original-wordmark.svg"/>
        <img class="skills__img" width="46" height="46" alt="Adobe Photoshop" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/photoshop/photoshop-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Adobe Illustrator" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/illustrator/illustrator-line.svg"/>
    </div>
    <h2>Interests</h2>
    <p>I have classically trained as a pianist for 11 years and self-learned the guitar and the ukulele. I love playing music, baking, travelling but also being a homebody with my two cats: Misty and Kyo.</p>
    <p>My favorite video game genres are rhythm games, cozy games, survival crafting games and life sims.</p>
</Layout>
