---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jhayzle Arevalo";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="smile" src="/jhay.png"/>
    </div>
    <h1 class="center">Hello World,</h1>
    <h1 class="center">I'm <span class="pink-text">Jhayzle</span>!</h1>
    <div class="center center-button">
        <a href="/about/">
            <button class="btn">About Me!</button>
        </a>
    </div>
</Layout>

