---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Jhayzle Arevalo";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1 class="center">Jhayzle Arevalo</h1>
    
    <div class="center"><span class="badge center">^_^</span></div> 
    <p>
        I am a UI Programmer with 5 years of experience in the video game industry.
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
</Layout>

