---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">JA</a>
    </div>
    <div class="navbar__menu">
        <a href="/posts/">About</a>
        <a href="/works/">Portfolio</a>
        <a href="https://github.com/jhayarevalo" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

