---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <h2>{frontmatter.title}</h2>
    <div class="center">
        <img class="pro-img" width="500px" height="281" src="/public/image-1.webp" alt="" />
    </div>
    <div class="badge-div"><span class="badge badge--item">PLATFORM</span>{frontmatter.platform}</div>
    <div class="badge-div"><span class="badge badge--item">ENGINE</span>{frontmatter.engine}</div>
    <slot />
</BaseLayout>

